@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Outfit';
    src: url(./assets//fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400, 600, 700;
}
:root{
    --color-white: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%); 
    --Stone-600: hsl(30, 10%, 34%); 
    --Stone-900: hsl(24, 5%, 18%); 
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%); 
    --Rose-50: hsl(330, 100%, 98%);
}


body{
    background-color: var(--Stone-100);
    font-family: 'Young Serif', 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 500px;
    height: 100%;
    margin: 15px auto;
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 20px;
}
.container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.container>h1{
    padding-top: 20px;
    margin: 0 ;
    color: var(--Stone-900);
    font-weight: 100;
}
.recipe p{
    font-size: .7rem;
    color: var(--Stone-600);
}
.time{
    background-color: var(--Rose-50);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    color: var(--Stone-600);
}
.time>span{
    color: var(--Rose-800);
    font-weight: 600;
}

.time>ul{
    list-style-type: disc;
    font-size: .9rem;
    line-height: 1.7rem;
}

.ingredients>h1, .instruct>h1{
    color: var(--Brown-800);
    font-weight: 400;
}
.ingredients>ul{
    font-size: .9rem;
    line-height: 2rem;
    font-family: 'Outfit', sans-serif;
    color: var(--Stone-600);
    list-style: inside;
}

.instruct ol li{
    line-height: 1.2rem;
    font-family: 'Outfit';
    font-size: .7rem;
    color: var(--Stone-600);
    margin-top: 5px;
    padding-left: 15px;
}
 .instruct ol li::marker{
    color: var(--Brown-800);
    font-weight: 900;
}

.nutrition{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.nutrition>h1{
    color: var(--Brown-800);
    font-weight: 400;
}
.nutrition>p{
    font-size: .7rem;
    color: var(--Stone-600);
}

 .tTable{
 display: table;
 width: 100%;
 padding: 0;
 font-size: .7rem;
color: var(--Stone-600);
 }
 table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
    font-family: 'Outfit';
 }
 th,td{
    text-align: left;
    align-items: center;
    line-height: 2.9rem;
    border-bottom: 1px solid var(--Stone-150);
 }
 th{
    font-weight: 600;
    padding-left: 40px;
 }
 td{
    color: var(--Brown-800);
    font-weight: 900;
    padding-right: 40px;
 }
tr:last-child td, tr:last-child th{
    border-bottom: none;
}
